<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Pacman" Language="1033" Version="1.0.0" Manufacturer="Avshalom"
           UpgradeCode="12345678-1234-1234-1234-123456789abc">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Pacman" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainEXE" Guid="12345678-1234-1234-1234-123456789abd">
        <File Source="build\jpackage\Pacman\Pacman.exe" KeyPath="yes" />
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Pacman"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="GameIcon.ico"
                  IconIndex="0"
                  Advertise="yes"
                  Target="[INSTALLFOLDER]Pacman.exe" />
      </Component>
    </ComponentGroup>

    <Feature Id="MainFeature" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Icon Id="GameIcon.ico" SourceFile="icons\game.ico" />
  </Product>
</Wix>
